 :root {
  --primary-color: #4a6fa5;
  --primary-color2:hsl(100, 22%, 86%);
  --primary-hover: hsl(102, 34%, 77%);
  --primary-light: #e8f0f9;
  --secondary-color: #6c5ce7;
  --accent-color: #f9e9cf;
  --text-color: #2b2d42;
  --text-light: #8d99ae;
  --bg-color: #f8f9fa;
  --card-bg: #ffffff;
  --border-color: #fffafa;
}
#natt{
    background: #383b3e;
    color: white;
}
#natt:hover{
    background: #6a7075;
}

#nyttig {
    background:  #f5e5d5;
}
#nyttig:hover{
     background:  #f6c894;
}
#nyttig:focus{
     background:  #facb95;
}

#rutiner {
    background: #6D5AA8;
}

#fag {
    background: #c5d9de;
}
#fag:hover {
    background: #d0e8ec;
}
#fag:focus {
    background: #d0e8ec;
}

#meldinger {
    background: #B54747;
}

#tips {
    background: #f2f5d4;
}

#administrasjon {
    background: #d5d9dd;
}
#administrasjon:hover {
    background: #a3b1c0;
}

.knapp{
  border:2px solid #8d99ae;
  margin: 1rem;
  border-radius: 5px;
}

/* Search box*/
.search-box{
    flex:1;
    position:relative;
    max-width:500px;
}

#searchInput{
    width:100%;
    padding:12px 18px;
    border-radius:10px;
    border:1px solid hsl(152, 38%, 30%);
    font-size:1.5rem;
}

/*flex:1 gjør at søkefeltet fyller plassen mellom logoen og menyen.*/

#searchResults{
    position:absolute;
    top:55px;
    left:0;
    width:100%;
    background:white;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.2);
    z-index:1000;
}

.result{
    padding:12px;
    border-bottom:1px solid #eee;
}

.result:hover{
    background:#eef4ff;
}

/*På mobil er det bedre at søkefeltet legger seg under logoen. Legg til:*/
 @media (max-width:760px){
    
  .search-box{
        order:3;
        flex:0 0 100%;
        max-width:100%;
       margin-top: 5px;
    }

}


/*---------------------------------------------------------------------------------------
------------------------------------Album------------------------------------------------
------------------------------------------------------------------------------------------*/

/*body{
    margin:0;
    background:#111;
    font-family:Arial,sans-serif;
}
header {
    text-align: center;
    padding: 30px 0;
}
*/

.gallery{
    width: 90%;
    max-width:1400px;
    margin:40px auto;
    display:grid;
    grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    transition:.3s;
    cursor:pointer;
}

.gallery img:hover{
    transform:scale(2.05);
}
/*-----------Bursdagsmelding------------------*/
/*--------------------------------------------*/
#bursdagMelding{
    display: none;
     background: var(--card-bg);
    color: #5c4300;
    border: 2px solid #f0c14b;
    border-radius: 12px;
    padding: 18px;
    margin: 20px auto;
    max-width: 900px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
}


 /*Knapp for å dele bursdagshilsen på WhatsApp*/ 
#sendWhatsapp{
  display: none;
    background: linear-gradient(135deg,#f0eee9,#ffe08a);
    color: #5c4300;
    border: 2px solid #f0c14b;
    border-radius: 12px;
    padding: 18px;
    margin: 0px auto;
    max-width: 900px;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 3px 8px rgba(0,0,0,.15);
    transition: all 0.3s ease;
}

/* Når musepekeren er over knappen */
#sendWhatsapp:hover{
    background-color: #1EBE5D;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,.2);
}

/* Når knappen trykkes ned */
#sendWhatsapp:active{
    transform: scale(0.97);
}

/* Tastaturfokus (universell utforming) */
#sendWhatsapp:focus{
    outline: 3px solid #45677a;
    outline-offset: 3px;
}
.button-container{
    text-align: center;
    margin-top: 30px;
}

#bursdagMelding{
    display:none;
}

#bursdagMelding.vis{
    display:block;
}

#sendWhatsapp{
    display:none;
}

#sendWhatsapp.vis{
    display:inline-block;
}

/*------------------------Install-app knappen-------------------------------------------
---------------------------------------------------------------------------------------*/
#installApp {
    display: inline-flex;
    align-items: center;
    gap: 10px;

    margin-top: 25px;
    padding: 14px 28px;

    background: #2f5d9f;
    color: white;

    border: none;
    border-radius: 12px;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

#installApp:hover{
    background:#244a7d;
    transform:translateY(-3px);
}

#installApp:active{
    transform:scale(.97);
}

#installApp:focus{
    outline:3px solid #7ab6ff;
    outline-offset:3px;
}
.installInfo{
    margin-top:12px;
    color:#555;
    font-size:.95rem;
}
#installApp[hidden]{
    display:none;
}

/*-----------------------------------------------------------------------------------------
-------------------------------------Kontaktkort---------------------------------------------
---------------------------------------------------------------------------------------------*/
#ekstravakt, #SPL, #HPL, #PB, #fysio, #ergo, #AKS, #ernæringFysio, #leder, #merkantil, #nattevakt, #vurderingsteam, #responssenter, #fagSPL, #saksbehandler, #vaktmester{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
   
}
 
.ansattKort{
    background:white;
    border-radius:12px;
    padding:20px;
    text-align:center;
    box-shadow:0 3px 8px rgba(0,0,0,.15);
}
.ansattKort h3{
    margin-bottom:8px;
    color:#2f5d9f;
}
.ansattKort p{
    color:#666;
    margin-bottom:18px;
}
.ikoner{
    display:flex;
    justify-content:center;
    gap:15px;
}
.ikoner a{
    width:42px;
    height:42px;
    border-radius:50%; 
    background:#2f5d9f;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    transition:.2s;
}
.ikoner a:hover{
    background:#1e4374;
    transform:scale(1.1);
}


/* INSTALLASJONSVINDU */

.install-modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    z-index:9999;
}

.install-content{
    background:white;
    width:min(90%,600px);
    margin:40px auto;
    padding:25px;
    border-radius:15px;
    max-height:85vh;
    overflow:auto;
    position:relative;
}

.install-content h2{
    margin-bottom:20px;
}

.install-section{
    margin-bottom:20px;
    padding:15px;
    border:1px solid #ddd;
    border-radius:10px;
}

#closeInstallModal{
    position:absolute;
    right:15px;
    top:10px;
    font-size:2rem;
    cursor:pointer;
}
/*----------------------------------------Pop-Up meldinger----------------------------------------------------
----------------------------------------------------------------------------------------------------------*/
.popup{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,0.6);
    z-index:9999;
}

.popup-content{
    background:white;
    width:90%;
    max-width:500px;
    margin:120px auto;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 0 20px rgba(0,0,0,0.3);
}

.popup-content h2{
    color:#d35400;
}

.popup-content button{
    padding:10px 20px;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

/* Lenker i sjekkliste for ansvarssykepleier*/
.lenkeKort{
    background:white;
    border-radius:12px;
    padding:20px;
    text-align:center;
    box-shadow:0 3px 8px rgba(0,0,0,.15);
    color: rgb(59, 100, 147);
    margin-top: 1rem;
     transition: 0.3s ease;
     gap: 30px;
}

.lenkeKort:hover{
    background:#d2d9e3;
    transform:translateY(-3px);
}

/*
Forslag for forbedring av nettsiden forslag.html
*/
#forslagForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 600px;
}

#forslagForm input,
#forslagForm select,
#forslagForm textarea {

    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#forslagForm button {

    background: var(--accent-color);
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-weight: 2rem;
}

/*------------------------------forslag-knapp----------------------------->*/
#forslag-knapp {
    display: inline-block;
    background: #3A7D44;
    color: white;
    padding: 12px 90px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    margin: 10px 0;
     transition: 0.3s ease;
}

#forslag-knapp:hover {
    opacity: 0.9;
}
#forslag-knapp:hover{
    background:#1f4525;
    transform:translateY(-3px);
}

#forslag-knapp:active{
    transform:scale(.97);
}

#forslag-knapp:focus{
    outline:3px solid #7ca883;
    outline-offset:3px;
}

#forslag-knapp h2{
    padding: 1rem;
    font-size: 12rem;
}
#arbeidsmiljø{
     display: inline-flex;
    align-items: center;
    gap: 10px;

    margin-top: 25px;
    padding: 14px 45px;

    background:  #e5ec9e;
    color: rgb(13, 13, 13);

    border: none;
    border-radius: 12px;

    font-size: 1rem;
    font-weight: 600;

    cursor: pointer;

    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

#arbeidsmiljø:hover{
    background:  #d3df58;
    transform:translateY(-3px);
}

#arbeidsmiljø:active{
    transform:scale(.97);
}

#arbeidsmiljø:focus{
    outline:3px solid #7aff99;
    outline-offset:3px;
}